<div id="ninja-init-form" class="container">
  <div class="row">
    <form ng-submit="initNinja()">
      <textarea class="init-rhyme-box" placeholder="Enter text..."></textarea>
      <br>
      <button type="submit" class="btn init-ninja-button">Enter the Ninja!</button>
    </form>

  </div>
</div>