<div class="container" id="the-ninja">
  <div class="row">
    <div class="col-md-6">
      <div class="title">
        {{ rhyme.title }}
      </div>
      <div class="original-text">
        {{ rhyme.original_text }}
      </div>
    </div>

    <div class="col-md-6">
      <div class="rhymed-text">


        <form>
          <input type='text' ng-model="rhyme.title" class="title-box">
          <br>
          <br>
          <br>
          <textarea class="rhyme-box" ng-model="rhyme.rhymed_text"></textarea>
          <br>
          <button ng-click="rhymeFields.submitMethod()" class="btn ninja-button">
            {{ rhymeFields.submitText }}
          </button>
        </form>


        <button ng-show="showCreateAccountButton" ng-click="redirectToCreateAccount()" class="btn btn-default">Create Account To Permanently Save Work!</button>

      </div>
    </div>

  </div>
</div>