<div id="rhyme-show">
  <h3 class="text-center">{{rhyme.title}}</h3>

  <section class="original-text col-md-6">
    {{ rhyme.original_text }}
  </section>

  <section class="rhymed-text col-md-6">
    {{ rhyme.rhymed_text }}
  </section>

</div>