<div class="content">
  <div class="row">
    <div class="side-menu col-md-3">
      <ul>
        <li>Manage Connections</li>
        <li>Profile</li>
      </ul>
    </div>
    <div class="page-content col-md-9">
      <%= render partial: "connections" %>
      <%= render partial: "profile" %>
    </div>
  </div>
</div>