---
http_interactions:
- request:
    method: get
    uri: http://rhymebrain.com/talk?function=getRhymes&word=forget
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      status:
      - 200 OK
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        [ {"word":"get","freq":26,"score":300,"flags":"bc","syllables":"1"},
         {"word":"threat","freq":23,"score":300,"flags":"bc","syllables":"1"},
         {"word":"regret","freq":22,"score":300,"flags":"bc","syllables":"2"},
         {"word":"cigarette","freq":21,"score":300,"flags":"bc","syllables":"3"},
         {"word":"sweat","freq":21,"score":300,"flags":"bc","syllables":"1"},
         {"word":"cassette","freq":19,"score":300,"flags":"bc","syllables":"2"},
         {"word":"beget","freq":18,"score":300,"flags":"bc","syllables":"2"},
         {"word":[...]
